.login_bg {
  background-image:linear-gradient(to right,rgba(4, 0, 47, 0.798),rgba(0, 0, 45, 0.962)), url(../img/3ds.jpg) ;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(1);
  /* background: var(--primary_blue); */
  font-size: 13px;
}
.login_wrapper {
  /* background-color: red; */
}

.login_wrapper input {
  height: 60px;
  /* background: rgba(49, 49, 54, 0.593); */
  background: rgba(59, 50, 88, 0.458);
}
.login_btn {
   background-color: var(--primary_orange);
  height: 60px;
}
